<div class=" card-body row">
    <div class=" container-inage-movie  p-0  m-0 img-article">
        <img class="image-wrap" src="{{pelicula.image}}" alt="{{pelicula.title}}" title="{{pelicula.title}}">
        <span class="year" [ngClass]="{
            'year-green' : pelicula.year > 2016,
            'year-red' : pelicula.year <= 2016
        }">
            {{pelicula.year}}
        </span>
    </div>

    <div class="float-start col-md-8 row m-0  p-0 row">
        <h4 class="col-md-12 mt-1 "><b class="float-start position-left">{{ pelicula.title }}</b></h4>
        <p class="float-start ml-3 pt-0 position-left">
            <span class="text-muted">hace 5 minutos </span>
        </p>
        <div class="col-md-12 p-0 m-0 pl-3 position-left">
            <p class="position-left">
                Leer más
            </p>
        </div>
    </div>
</div>