body {
    text-align: center;
    /* centra todo el contedo */
    margin: 0px;
    padding: 0px;
    /** fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

:root {
    --color-primary: #f13e3e
}

/** SLIDEL  **/
#slider {
    /* ancho */
    width: 100%;
    /********/
    /* alto */
    height: 350px;
    /********/

    background-color: var(--color-primary);
    color: white;
    /* shado de las letras*/
    text-shadow: 0px 0px 5px #444;
    /********/
    /** degradado css **/
    background: rgb(217, 21, 202);
    background: linear-gradient(0deg, rgba(217, 21, 202, 1) 0%, rgba(230, 45, 54, 1) 34%);
    /*******************/
}

#slider h1 {
    margin-top: 30px;
    padding: 0px;
    padding-top: 110px;
    text-align: center;
}

.my-btn-white {
    display: block;
    background-color: white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 150px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 10px;
    /* centra el texto */
    line-height: 15px;
    /*******/
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 40px !important;
}

.slider-small {
    height: 250px !important;
}

/**** END SLIDER ****/



.subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.my-logo {
    border-radius: 3em;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    animation: palpitar infinite 1s linear;
}

@keyframes palpitar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar {
    border-top: solid var(--color-primary) 5px !important;
}

.nav-item a {
    font-weight: bold;
}

.dropdown-item {
    color: rgba(0, 0, 0, .5) !important;
}

.nav-item a:hover,
.active {
    color: var(--color-primary) !important;
}


footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

footer p {
    margin: 0px;
    padding: 0px;
}


.position-left {
    float: left;
}

.position-right {
    float: right;
}

.container-inage-movie {
    width: 130px !important;

}

.image-wrap {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    float: left;
}


.year {
    color: white !important;
    padding: 5px;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.year-green {
    background-color: rgb(22, 155, 50);
}

.year-red {
    background-color: var(--color-primary);
}


.conntent-component {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    width: 80%;
    margin-top: 10px;
}

.sidevar {
    padding-left: 0;
    width: 20%;
}


@media (max-width:768px) {
    .position-left {
        width: 100%;
        float: none !important;
    }

    .container-inage-movie {
        display: flex;
        flex-direction: row;
    }
}

@media(max-width: 1349px) {
    .conntent-component {
        width: 98%;
    }

    .card-sidevar {
        height: 200px;
    }

    .sidevar-item {
        margin-top: 20px;
        margin-left: 3px;
    }

    .body-with-card {
        width: 300px;
    }

    .sidevar {
        display: flex;
        float: none;
        justify-content: center;
        width: 96%;
    }
}