body {
    text-align: center;
    /* centra todo el contedo */
    margin: 0px;
    padding: 0px;
    /** fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}


.my-logo {
    border-radius: 3em;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    animation: palpitar infinite 1s linear;
}

@keyframes palpitar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



.nav-item a {

    font-weight: bold;
}

.dropdown-item {
    color: rgba(0, 0, 0, .5) !important;
}

.nav-item a:hover,
.active {
    color: #f13e3e !important;
}


footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

footer p {
    margin: 0px;
    padding: 0px;
}


.position-left {
    float: left;
}

.position-right {
    float: right;
}

.container-inage-movie {
    width: 130px !important;

}

.image-wrap {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    float: left;
}


.year {
    color: white !important;
    padding: 5px;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.year-green {
    background-color: rgb(22, 155, 50);
}

.year-red {
    background-color: red;
}


.conntent-component {

    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    width: 80%;
    margin-top: 10px;
}

.sidevar {
    padding-left: 0;
    width: 20%;
}


@media (max-width:768px) {
    .position-left {
        width: 100%;

    }


    .container-inage-movie {
        display: flex;
        flex-direction: row;

    }

}


@media (max-width: 1129px) {
    .conntent-component {
        width: 96%;
    }

    .sidevar {
        width: 96%;
    }
}