<nav class="navbar navbar-expand-lg navbar-light  "> <!-- Barra de navegacion -->
    <a class="navbar-brand" href="#">
        <img src="assets/images/angular.png" class="d-inline-block align-top my-logo text-dark" alt="">
        <span class="text-dark">Angular</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link"> </a>
            </li>

        </ul>

        <ul class="navbar-nav mr-right">

            <li class="nav-item">
                <a [routerLink]="['/home']" [routerLinkActive]="['active']"   class="nav-link">Incio</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/blog']"  [routerLinkActive]="['active']"   class="nav-link">Blog</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/form']"  [routerLinkActive]="['active']"   class="nav-link">Formulario</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/peliculas']"  [routerLinkActive]="['active']"   class="nav-link ">Peliculas</a>
            </li>
            

            <li class="nav-item">
                <a [routerLink]="['/registro']"   [routerLinkActive]="['active']"  class="nav-link ">Registro</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                <div class="avatar_mask">

                    <img class="avatar_user_nav" src="" alt="imagen_user">
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item ">Crear entrada</a>
                    <a class="dropdown-item">Crear categoria</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Mi perfil</a>
                    <a class="dropdown-item">Ajustes</a>
                    <a class="dropdown-item ">Salir</a>
                </div>
            </li>

        </ul>

    </div>
</nav>