


<nav class="navbar navbar-expand-lg navbar-dark bg-info "> <!-- Barra de navegacion -->
    <a class="navbar-brand" href="#">
        <img src="assets/images/angular.png"  class="d-inline-block align-top my-logo text-dark" alt="">
       <span class="text-dark">Angular</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link"> </a>
            </li>

        </ul>

        <ul class="navbar-nav mr-right">
            <li class="nav-item active">
                <a [routerLink]="['/users']" class="nav-link text-dark">Usuarios</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/registro']" class="nav-link text-dark">Registro
                </a>
            </li>
        </ul>

        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                <div class="avatar_mask">

                    <img class="avatar_user_nav" src="" alt="imagen_user">
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark">Crear entrada</a>
                    <a class="dropdown-item text-dark">Crear categoria</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-dark">Mi perfil</a>
                    <a class="dropdown-item text-dark">Ajustes</a>
                    <a class="dropdown-item text-dark ">Salir</a>
                </div>
            </li>

        </ul>

    </div>
</nav>